// app global css in SCSS form
@import './quasar.variables.scss';

// Define cor padrão para body e componentes
body.body--dark,
.q-dark, // Componentes que usam a classe (QCard) 
.q-field__control .q-field__native, // QInput
.q-expansion-item .q-item // QExpansionItem
{
  // color: $text-color-default !important;
}

// Define a cor do texto do QBtn
.q-btn.text-white,
.q-btn-dropdown
{
  color: $btn-text-color !important;
}

// Adiciona um radius padrão para o QInput
.q-field__control {
  border-radius: 12px !important;
}

// Padronização das imagens das pages de autenticação
.position_img {
  width: 80%;
  height: 90%;
  border-radius: 24px;
  overflow: hidden;
}
.position_img > .q-img__content > div {
  background: rgba(12,49,89, 0.35);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.95;
  border-radius: 24px;
  z-index: 1;
}
// -------------------------------------------

// Animação de transição para Expansion
.fade-expand-enter-active,
.fade-expand-leave-active {
  transition: all 0.3s linear;
  overflow: hidden;
}
.fade-expand-enter-from,
.fade-expand-leave-to {
  opacity: 0;
  max-height: 0;
}
.fade-expand-enter-to,
.fade-expand-leave-from {
  opacity: 1;
  max-height: 290px; /* Ajuste conforme o conteúdo */
}

// -------------------------------------------

// Classes utilitárias

// Gera classes para font-size
@for $i from 10 through 50 {
  .text-#{$i} {
    font-size: #{$i}px;
  }
}

// Gera classes para font-weight
$weights: (300, 400, 500, 600, 700);
@each $i in $weights {
  .weight-#{$i} {
    font-weight: #{$i}
  }
}

// Gera classes para opacity (intervalos de 0.05 entre 0 e 1)
@for $i from 0 through 20 {
  $value: $i * 0.05;
  $class-name: $value * 100;

  .opacity-#{$class-name} {
    opacity: #{$value} !important;
  }
}

// -------------------------------------------